header {
  position: absolute;
  background: none;
}

.acrylic {
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 9999;
  width: 100%;
  background: rgba(0, 0, 0, .4);
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .1);
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  appearance: button;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #252525;
  border: 1px solid #252525;
  border-radius: .25rem;
}

.navbar-toggler-icon {
  width: 22px;
  height: 12px;
  margin-right: 20px;
  background-image: url("/src/images/navbar.png");
}

.c-search-icon {
  align-self: center;
  width: 25px;
  height: 25px;

  img {
    align-self: center;
    max-height: 20px;
  }
}

.form-control {
  background: transparent;
  border: unset;

  &:focus {
    color: #fff;
    background-color: unset;
    border-color: transparent;
    outline: none;
    box-shadow: unset;
  }

}

.c-text--white {
  font-size: 12px;
  color: #fff;
}

.header--logo {
  padding: 10px 40px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  overflow: hidden;


  &.active {
    display: block;
  }

  .c-menu-dropdown {
    width: 235px;
    background-color: #252525;

    a {
      display: block;
      padding: 15px;
      color: #fff;

      &:hover {
        text-decoration: none;
        background-color: #e27035;
      }
    }
  }
}
